@page "/service"

<h3>Services</h3>
@* Customer Information Section *@
<fieldset class="form-group card p-3 mb-3">
    <legend>Contact Information</legend>
    <div class="mb-3">
        <label class="form-label" for="name">Contact Name:</label>
        <input class="form-control" type="text" id="name" @bind="ContactName" required />
    </div>
    <div class="mb-3">
        <label class="form-label" for="phone">Phone Number:</label>
        <input class="form-control" type="text" id="phone" @bind="PhoneNumber" placeholder="123-456-7890" required />
    </div>
    <div class="mb-3">
        <label class="form-label" for="years">Number of Years as Customer:</label>
        <input class="form-control" type="number" id="years" @bind="YearsAsCustomer" min="0" step="2" required />
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="current_customer" required />
        <label class="form-check-label" for="current_customer">Current Customer</label>
    </div>
</fieldset>
@* Service Section *@
<fieldset class="form-group card p-3 mb-3">
    <legend>Service information</legend>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="internet" required />
        <label class="form-check-label" for="internet">Internet Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="tv" required />
        <label class="form-check-label" for="tv">TV Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="internet_tv" required />
        <label class="form-check-label" for="internet_tv">Internet and TV</label>
    </div>
</fieldset>
<fieldset class="form-group card p-3 mb-3">
    <legend>Required Service</legend>
    <div class="mb-3">
        <label class="form-label" for="reason">Reason for Request</label>
        <select class="form-select" id="reason" @bind="Reason">
            <option selected disabled>Reason for request</option>
            <option value="interupt">Service Interuption</option>
            <option value="new">New Service</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="request_info">Request Information</label>
        <textarea class="form-control" id="request_info" rows="5" @bind="RequestInformation"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Submit Request</button>
    </div>
    <div class="alert alert-info">
        <p>Request successfully submitted</p>
        <p>OUTPUT</p>
    </div>


</fieldset>
@code {
    private string? ContactName { get; set; }
    private string? PhoneNumber { get; set; }
    private int YearsAsCustomer { get; set; }
    private bool IsCurrentCustomer { get; set; }

    private string? ServiceType { get; set; }

    private string? Reason { get; set; }
    private string? RequestInformation { get; set; }
}
